@model WebApplication1.EmployeeAddViewModel




<form asp-controller="Employee" asp-action="Add">
    <label asp-for="Employee.ID"></label> : <input asp-for="Employee.ID" /><br />
    <label asp-for="Employee.FirstName"></label> : <input asp-for="Employee.FirstName" /><br />
    <label asp-for="Employee.LastName"></label>  : <input asp-for="Employee.LastName" /><br />
    <label asp-for="Employee.CityId"></label>      : <select asp-for="Employee.CityId" asp-items="Model.Cities"></select><br />

    <button type="submit">Add</button>

    <br />
    <br />
    <br />

    @section MySection{
        Section script referansları için kullanılır.(Genelde js kodları yazılır)

        Sayfaya özel scriptlerde kullanılır.
    }
</form>

